<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <title>게시판</title>
    <link rel="stylesheet" href="../../assets/css/reset.css" />
    <link rel="stylesheet" href="../../assets/css/mysite.css" />
    <link rel="stylesheet" href="../../assets/css/list.css" />
    <style></style>
  </head>
  <body>
    <div id="wrap">
      <!-- 해더 -->
      <div id="header" class="clearfix">
        <!-- 로고 -->
        <h1>MySite</h1>

        <!-- 로그인관련버튼 -->
        <ul class="clearfix">
          <li>
            <a href="#">로그인</a>
          </li>
          <li>
            <a href="#">회원가입</a>
          </li>
        </ul>
      </div>
      <!-- //해더 -->

      <!-- 네비(상단메뉴 GNB) -->
      <div id="nav">
        <ul class="clearfix">
          <li>입사지원서</li>
          <li>게시판</li>
          <li>갤러리</li>
          <li>방명록</li>
        </ul>
      </div>
      <!-- //네비(상단메뉴 GNB) -->

      <!-- 컨텐츠 -->
      <div id="contents2" class="clearfix">
        <!-- 사이드게시판 -->
        <div id="aside">
          <h2>게시판</h2>

          <ul>
            <li>일반게시판</li>
            <li>댓글게시판</li>
          </ul>
        </div>

        <!-- main 컨텐츠 -->
        <div id="main" class="clearfix">
          <div id="top" class="clearfix">
            <h2>일반게시판</h2>
            <ul>
              <li>홈</li>
              <li>게시판</li>
              <li>일반게시판</li>
            </ul>
          </div>

          <!--검색 부분 -->
          <div id="list-search">
            <input type="text" name="" value="" />
            <button>검색</button>
          </div>

          <!-- 게시판 테이블 -->
          <div id="list-table">
            <table>
              <thead>
                <tr>
                  <th>번호</th>
                  <th>제목</th>
                  <th>글쓴이</th>
                  <th>조회수</th>
                  <th>작성일</th>
                  <th>관리</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>123</td>
                  <td>게시판 게시글입니다.</td>
                  <td>정우성</td>
                  <td>1232</td>
                  <td>2020-12-23</td>
                  <td>[삭제]</td>
                </tr>

                <tr>
                  <td>123</td>
                  <td>게시판 게시글입니다.</td>
                  <td>정우성</td>
                  <td>1232</td>
                  <td>2020-12-23</td>
                  <td>[삭제]</td>
                </tr>

                <tr>
                  <td>123</td>
                  <td>게시판 게시글입니다.</td>
                  <td>정우성</td>
                  <td>1232</td>
                  <td>2020-12-23</td>
                  <td>[삭제]</td>
                </tr>

                <tr>
                  <td>123</td>
                  <td>게시판 게시글입니다.</td>
                  <td>정우성</td>
                  <td>1232</td>
                  <td>2020-12-23</td>
                  <td>[삭제]</td>
                </tr>

                <tr>
                  <td>123</td>
                  <td>게시판 게시글입니다.</td>
                  <td>정우성</td>
                  <td>1232</td>
                  <td>2020-12-23</td>
                  <td>[삭제]</td>
                </tr>
              </tbody>
            </table>
          </div>

          <!-- 페이지 수 -->
          <div id="page" class="clearfix">
            <span><a href="">◀</a></span>
            <ol>
              <li><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
              <li><a href="">5</a></li>
              <li><a href="">6</a></li>
              <li><a href="">7</a></li>
              <li><a href="">8</a></li>
              <li><a href="">9</a></li>
              <li><a href="">10</a></li>
            </ol>
            <span><a href="">▶</a></span>
          </div>

          <!-- 글쓰기 버튼 -->
          <div id="write">
            <button>글쓰기</button>
          </div>
        </div>
        <!-- //main 컨텐츠 -->
      </div>
      <!-- //컨텐츠 -->

      <!-- 푸터 -->
      <div id="footer">
        <p>Copyright &#169; 2024 황주영. All right reserved</p>
      </div>
      <!-- //푸터 -->
    </div>
  </body>
</html>
