@charset "UTF-8";

/* 레이아웃 */
#wrap{
    width: 1200px;
    margin: 0 auto;
    color: #222222;
}

/* 컨텐츠 */
/* aside */
/* aside 박스 띄우기 */
#contents #aside {
    float: left;
    width: 170px;
}

#contents #aside h2{
    font-size: 20px;
    font-weight: 900;
}

/* 쇼핑정보 */
#contents #aside .snb-list1{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 15px;
}

/* aside li 패딩 조절 */
#contents #aside ul>li{
    padding: 10px 0px 0px 0px;
    font-size: 15px;
    color: #aeaeae;
}

/* 내정보 */
#contents #aside .snb-list2{
    font-size: 15px;
}

/* content-area */
/* content-area 박스 띄우기 */
#contents #content-area {
    float: left;
    width: 730px;
}

/* 관심 텍스트 박스 띄우기 */
#contents #content-title {
    float: left;
    width: 730px;
    padding-bottom: 10px;
    border-bottom: 3px solid #222222;
}

/* 관심 텍스트 */
#contents #content-title h3 {
    font-size: 20px;
    font-weight: 1000;
}

/* content-button 박스 띄우기 */
#contents #content-button {
    float: left;
    margin-top: 12px;
    width: 730px;
}

/* content-button 버튼들 */
#contents #content-button button {
    float: left;
    margin: 0px 10px 0px 0px;
    padding: 7px;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    border-radius: 20px;
    font-size: 14px;
}

/* content-button 첫번째 버튼 */
#contents #content-button .btn1 {
    color: #ffffff;
    background-color: #000000;
}

/* content-header 박스 띄우기 */
#contents #content-header {
    float: left;
    margin-top: 30px;
    width: 730px;
    font-size: 12px;
}

/* 전체 갯수 */
#contents #total-rows {
    float: left;
}

/* 관심등록순 */
#contents #sorting-filter {
    float: right;
}

/* wish_item 박스 띄우기 */
#contents #wish_item {
    float: left;
    margin-top: 20px;
    padding-bottom: 20px;
    width: 730px;
    border-bottom: 1px solid #e7e7e7;
}

/* 상품 이미지 띄우기 */
#contents #wish_item img{
    float: left;
    width: 80px;
    background-color: #f0efef;
    border-radius: 10px;
}

/* product_detail 박스 띄우기 */
#contents #product_detail {
    float: left;
    margin-left: 10px;
    font-size: 15px;
}

/* 상품 브랜드 */
#contents #product_detail .brand-name{
    font-weight: 900;
    
}

/* 상품 이름 */
#contents #product_detail .name{
    padding-top: 2px;
}

/* 상품 사이즈 */
#contents #product_detail .size{
    padding-top: 19px;
    font-weight: 900;
    
}